<h2>Following</h2>
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
		    <th colspan="4"></th>
		</tr>
	</thead>

	<tbody>
		<% @user.following_user.where.not(id: current_user.id).each do |user| %>
		<tr>
			<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
			<td><%= user.name%></td>
			<td><%= "フォロー数: #{user.follower.count}" %></td>
			<td><%= "フォロワー数: #{user.followed.count}" %></td>
			<td>
				<% if user.id != current_user.id %>
				<% if current_user.following?(user) %>
				  <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
				<% else %>
				  <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
				<% end %>
				<% end %>
			</td>
			<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<h2>Follower</h2>
<table class="table">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
		    <th colspan="4"></th>
		</tr>
	</thead>

	<tbody>
		<% @user.follower_user.where.not(id: current_user.id).each do |user| %>
		<tr>
			<td><%= attachment_image_tag(user, :profile_image, :fill, 50, 50, fallback: "no-image-mini.jpg") %></td>
			<td><%= user.name%></td>
			<td><%= "フォロー数: #{user.follower.count}" %></td>
			<td><%= "フォロワー数: #{user.followed.count}" %></td>
			<td>
				<% if user.id != current_user.id %>
				<% if current_user.following?(user) %>
				  <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
				<% else %>
				  <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
				<% end %>
				<% end %>
			</td>
			<td><%= link_to "Show", user, class: "user_#{user.id}" %></td>
		</tr>
		<% end %>
	</tbody>
</table>